* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #6f380f;
  --text-bg: #e1d7ce;
  --white: white;
  --blue: #0b334e;
  --light-blue: #0f4970;
  --light-main: #ffe3c8;
  --thick-main: #4e2b0b;
}

.App {
  color: var(--thick-main);
}
